{
    "$schema": "https://json.schemastore.org/prettierrc",
    "semi": false,
    "singleQuote": true,
    "printWidth": 100,
    "htmlWhitespaceSensitivity": "ignore",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "singleAttributePerLine": true,
    "plugins": [
        "prettier-plugin-tailwindcss"
    ],
    "tailwindStylesheet": "./app/assets/css/base.css",
    "tabWidth": 4,
    "overrides": [
        {
            "files": [
                "*.vue",
                "*.html"
            ],
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": [
                "*.js",
                "*.jsx",
                "*.ts",
                "*.tsx"
            ],
            "options": {
                "tabWidth": 4
            }
        }
    ]
}