/* ubuntu-300 - latin */
@font-face {
    font-display: swap;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/ubuntu/ubuntu-v21-latin-300.woff2') format('woff2');
}
/* ubuntu-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ubuntu/ubuntu-v21-latin-regular.woff2') format('woff2');
}
/* ubuntu-500 - latin */
@font-face {
    font-display: swap;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/ubuntu/ubuntu-v21-latin-500.woff2') format('woff2');
}
/* ubuntu-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/ubuntu/ubuntu-v21-latin-700.woff2') format('woff2');
}

/* ibm-plex-mono-300 - latin */
@font-face {
    font-display: swap;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/IBM-Mono/ibm-plex-mono-v20-latin-300.woff2') format('woff2');
}
/* ibm-plex-mono-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/IBM-Mono/ibm-plex-mono-v20-latin-regular.woff2') format('woff2');
}
/* ibm-plex-mono-500 - latin */
@font-face {
    font-display: swap;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/IBM-Mono/ibm-plex-mono-v20-latin-500.woff2') format('woff2');
}
/* ibm-plex-mono-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/IBM-Mono/ibm-plex-mono-v20-latin-700.woff2') format('woff2');
}
